<html lang="en">

<head>
    <link rel="stylesheet" href="/css/nds.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>PicturChat</title>
</head>


<body>
    <div class="container">
        <form style="margin:0;" action="/room" method="GET">
            <div class="row ds head">
                Choose a Chat Room to Join
            </div>
            <div class="row" style="padding: 12px;">
                <label for="name">Name</label>
                <input id="name" name="name" class="u-full-width" type="text">
            </div>
            <div class="row" style="padding: 12px;">
                <label for="room">Room</label>
                <input id="room" name="room" class="u-full-width" type="text" value="Test">
            </div>
            <div class="row ds foot">
                <input class="button-secondary" type="submit" value="Submit" style="font-size: 4rem; color: black;">
            </div>
        </form>
    </div>
</body>

</html>